<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
  </head>

  <body>
    <section class="section">
      <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <strong class="title">West End Records</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/">
            Home
          </a>
          <a class="navbar-item" href="/albums">
            Albums
          </a>
          <a class="navbar-item" href="/songs">
            Songs
          </a>
          <a class="navbar-item" href="/genres">
            Genres
          </a>
          <a class="navbar-item" href="/artists">
            Artists
          </a>
          <a class="navbar-item" href="/about">
            About
          </a>
          <a class="navbar-item" href="/contact">
            Contact
          </a>
        </div>
      </div>
    </nav>
      <script src="https://js.stripe.com/v3/"></script>
      <section class="section">
      <details>
        <summary>Shopping Cart</summary>
        <ul>
          <% if @cart.empty? %>
            <li>No items in cart.</li>
          <% else %>
            <% @cart.each do |product| %>
              <li>
                <%= product.name %> - <%= link_to 'Remove', remove_from_cart_path(product), method: :delete%>
              </li>
            <% end %>
          <% end %>
        </ul>
      </details>
      <%= form_tag search_album_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
      <% end %>
      <%= link_to 'Advanced Search', new_search_path %>
      <%= yield %>
    </section>
  </body>
</html>
